[submodule "shared/shared_scripts"]
	path = shared/shared_scripts
	url = https://github.com/nuniesmith/shared_scripts.git
[submodule "shared/shared_schema"]
	path = shared/shared_schema
	url = https://github.com/nuniesmith/shared_schema.git
[submodule "shared/shared_docker"]
	path = shared/shared_docker
	url = https://github.com/nuniesmith/shared_docker
[submodule "shared/shared_rust"]
	path = shared/shared_rust
	url = https://github.com/nuniesmith/shared_rust
[submodule "shared/shared_actions"]
	path = shared/shared_actions
	url = https://github.com/nuniesmith/shared_actions
[submodule "shared/shared_nginx"]
	path = shared/shared_nginx
	url = https://github.com/nuniesmith/shared_nginx
[submodule "shared/shared_python"]
	path = shared/shared_python
	url = https://github.com/nuniesmith/shared_python
[submodule "shared/shared_react"]
	path = shared/shared_react
	url = https://github.com/nuniesmith/shared_react
